body{
	margin: 0;
	padding: 0;
	background: #666;
	color: #fff;
}

#myCanvas {
	border: 2px solid #000;
	background: #fff;
	margin: 10 auto;
	display: block;
	z-index: -1;
}
#score {
  background-color:#fff;
  margin-top:-500px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  z-index:1;
  position: relative;
  display: none;
  border: 2px solid #fff;
  border-radius: 7px;
}
.message{
	margin: 10px auto;
	width: 250px;
	display: block;
	font-size: 25px;
	text-align: center;
	font-weight: bolder;
	color: #000;

}

#myScore{
	margin: 0px 10px;
	padding: 10px;
	width: 260px;
	height: 100px;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	background-color: #69a;
}
#numScore{
	text-align: center;
	font-size: 35px;
	font-weight: bolder;
}

#history{
	margin: 0px 10px;
	width: 280px;
	background-color: #faa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid white;
    
    font-weight: bolder;
    font-size: 17px;
}

table td{
	padding: 5px; 
	text-align: center;
}

tr:nth-child(even) {
    background-color: #d0d8e8;
    color: #000;
}
tr:nth-child(odd) {
    background-color: #e9edf4;
    color: #000;
}


#header{
	background-color: #cc0099;
	color: #fff !important;
}



input[type="text"] {
  padding: 5px;
  width: 180px;
  margin-botom:3px; 
  border: none;
  font-weight: bold;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  float: right;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

#inputName{
	text-align: center;
	color: #fff;
	padding: 0px 10px 0px 0px;
	font-size: 20px;
	float: left;
}

#showHistory{
	width: 100px;
	height: 32px;
	margin-top: 10px;
	margin-botom: 10px;
	text-align: center;
	background: #1736FF;
	padding: 10px 5px 0px 5px;
	font-weight: bold;
	font-size: 17px;
	margin-left: 30px;
	float:left;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#showHistory:hover{
	background-color: #11b;
}

#restart{
	width: 100px;
	height: 32px;
	margin-top: 10px;
	text-align: center;
	background: #17FF36;
	padding: 5px;
	float:right;
	margin-right: 30px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#restart:hover{
	background-color: #17CC36;
}

p{
	margin:0;
	padding:0;
}

.clr{
	clear: both;
}